.header {
  background-color: #fff;
  padding: 10px 3vmax;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 50px;
}

.navLinks {
  display: flex;
  gap: 20px;
  a {
    text-decoration: none;
    color: #2c3e50;
    font-weight: 500;
    transition: color 0.3s;
    &:hover {
      color: #D12127;
    }
  }
}

@media (width < 700px) {
  .header {
    padding-left: 5px;
    padding-right: 5px;
  }
  .logo img {
    height: 40px;
  }
}